.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: #fff;
}
ul{
	margin: 0;
	list-style: none;
}
h1{
	font-size: 30px;
	/* padding: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff; */
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
.hr{
	width: 100%;
	margin: 20px auto;
	height: 2px;
}

p{
	font-size: 17px;
	letter-spacing: 1px;
}

header{
	background:rgba(0,0,0,0.2);
}

nav{
	background: transparent;
	height: 50px;
}
#banner{
	background-color: transparent;
	height: 700px;
}
nav ul{
	
	margin: 0;
	float: right;
}
nav ul li, nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 30px;
	cursor: pointer;
}
nav ul li a{
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	height: inherit;
	color: #fff;
}
nav ul li i{
	color: rgba(255,255,255,0.9);
}

nav ul li a.active{
	border-bottom: 1px solid #fff;
}

#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
	color:#fff;
}

.banner-title{
	position: relative;
	height: 38px;
	line-height: 38px;
	padding: 10px 0;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd; 

}

.banner-title .line{
	display: block;
	position: absolute;
	background: none;
	background-color: #fff;
}
@keyframes left-right{
	0%,30%{
		width: 0;
	left: -100px;
	}
	100%{
		width: 100%;
		left:0;
	}
}
@keyframes right-left{
	0%,30%{
		width: 0;
	right: -100px;
	}
	100%{
		width: 100%;
		right:0;
	}
}
.banner-title .line-top{
	height: 2px;
	width: 100%;
	top: -2px;
	animation:left-right 1s ease;
} 

.banner-title .line-bottom{
	width: 100%;
	height: 2px;
	bottom: -2px;
	animation:right-left 1s ease;
}






button{
	border: none;
	background-color: rgba(8, 157, 157, 0.54);
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
}
#banner .inner .more{
	margin-top: 220px;
	position: relative;
}

#banner .inner .more i{
	display: block;
	opacity: 0.8;
	animation: moreTranslate 1.2s infinite ease-in-out;
}
@keyframes moreTranslate {
	0% 30%{
		opacity: 0.2;
		margin-top: 15px;
		
	}
	60%{
		opacity: 1;
		margin-top: 25px;
		
	}
	100%{
		opacity: 0.2
		margin-top: 30px;
	}
}
.sub-heading{
	font-size: 18px;
	margin: 10px 0;

}
.logo{
	float: left;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}

.logo a{
	color: #fff;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}
.green-section{
	text-align: center;
	background-color: #089d9d;
	color: #fff;
	padding: 100px 0;
}
.green-section .hr{
	background-color: #069494;
	width: 60%;
}
.green-section .item-group-wrap{
	margin: 50px;
}
.green-section .item-group-wrap .item{
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border: 1px solid #028E8E;
	transform: rotate(45deg);
	margin: 20px;
}
.green-section .item-group-wrap .icon{
		display: inline-block;
	transform: rotate(-45deg);
	vertical-align: middle
}
.gray-section{

}
.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 55%;

}
.article-preview{
	background-color: #888585;
	overflow: hidden;
	color: #fff;
}
.article-preview:nth-child(odd){
	background-color: rgb(148, 144, 144);
}

.article-preview>div{
	float: left;
	font-size: 0;
}

.text-section{
	position: relative;
	top: 68px;
	left: 50px;

}
.text-section *{
	max-width:80%;
}
.text-section h2{
	margin-bottom: 20px;
}


.purple-section{
	color: #fff;
	background-color: #3f3960;
	padding: 80px;
}
.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	width: 60%;
	background-color: #373254;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
}
.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background: rgba(0,0,0,0.24);
}
footer{
	background-color: #333;
	color: #fff;
	min-height: 60px;
	text-align: center;
}
.share-group{
	/* display: block;
	width: 1080px; */
	margin: 0 auto;
	padding: 20px;
}
.share-group i{
	padding: 5px;
/*	display: inline-block;
	width: 40px;
	height: 40px;*/
}
.copy{
	padding-bottom: 20px;
}
.main-wrapper{
	background: #444 url(../img/banner.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.mask{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
}
#sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	right: -300px;
	width: 300px;
	background-color: #333;
	color: #fff;
	padding: 20px 0;
}
#sidebar ul{
	padding: 0;
	margin: 0;
}
#sidebar ul a{
	padding: 10px 30px;
	display: inline-block;
	width: 100%;

}

#sidebar ul a:hover{
	background-color: #444;
}
.back-to-top{
	position: fixed;
    bottom: 50px;
    right: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
}





@media screen and (max-width: 768px) and (min-width: 640px) {
	h1{
		padding: 12px;
		font-size: 26px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 17px;
	}
	.hr{
		margin: 10px auto;
		height: 2px;
	}

	p{
		font-size: 14px;
	}
	.sub-heading{
		font-size: 16px;
	}
	#banner{
		height: 400px;
	}
	#banner .inner{
		top: 80px;
	}
	#banner .inner .more{
		margin-top: 80px;
	}
	.green-section{
		padding: 80px 0;
	}
	.text-section{
		
		top: 20px;
		left: 30px;
		overflow: hidden;

	}
	.text-section *{
		max-width:90%;
	}
	.text-section h2{
		margin-bottom: 10px;
	}

	.purple-section{
		padding: 40px;
	}
	.card{
		padding: 20px 30px;
		min-height: 0;
	}
	#sidebar{
		width: 200px;
	}
}

@media screen and (max-width: 640px){
	.article-preview>div {
    	float: none; 
    }
	.gray-section .img-section,.gray-section .text-section{
		width: 100%;
	}
	.gray-section .text-section {
    	padding: 0 20px;
    }
	.text-section{
		position: static; 
	}
	.purple-section{
		padding: 50px;
	}
	.card {
	    max-height: 150px;
	    min-height: 0;
	    padding: 20px;
	    overflow: hidden;
	}
		#sidebar{
		width: 180px;
	}
}
@media screen and (max-width: 480px){
	nav ul li, nav .logo {
	    margin-right: 5px;
	}
	#banner {
	    height: 500px;
	}
	#banner .inner {
	    margin: 0 auto;
	    position: relative;
	    top: 100px;
	}
	#banner .inner .more {
	    margin-top: 160px;
	    position: absolute;
	    top: 150px;
	    left: 45%;
	}
	.green-section .item-group-wrap {
	    margin: 10px;
	}
	.green-section .item-group-wrap .item {
	    display: inline-block;
	    width: 70px;
	    height: 70px;
	    margin: 15px;
	}
	.green-section {
	    padding: 50px 0;
	}

	h3 {
	    font-size: 20px;
	    margin: 10px 0;
	}
	.purple-section {
	    padding: 50px 20px;
	}
	.card {
	    padding: 20px 5px;
	}
	#sidebar{
		width: 120px;
	}
}






/* 文章页*/

.article #banner{
	height: 300px;
}
.article #banner .inner{
	top: 30px;
}
.article h1{
	border: none;
}
.article .content{
	background: #fefefe;
}
.content_wrapper{
	max-width: 1080px;
	padding: 0 10%;
	margin: 0 auto;
}
article{
	line-height: 2;
	padding:10px 0 50px 0;
}
.article_info{
	font-size: 14px;
	color: #888;
	padding: 15px 0;
}
@media screen and (max-width: 768px)  {
	.main-wrapper {
	    background-position: top left;
	    background-size: 100%;
	}
	.content_wrapper {
	    max-width: 700px;
	    padding: 0 30px;
	}
	article div {
	    text-indent: 2em;
	    font-family: "Times New Rome";
	}
}
@media screen and (max-width: 480px){
	.article #banner {
    height: 200px;
	}
	.main-wrapper {
	    background-position: center;
	    background-size: cover;
	}
	.content_wrapper {
	    width: 100%;
	    padding: 0 20px;
	    box-sizing: border-box;
	    }
	article div {
	    text-indent: 2em;
	    font-family: "Times New Rome";
	    word-wrap: break-word; 
		}
	.back-to-top {
	    bottom: 50px;
	    right: 5px;
	    border: 1px solid #EFE1E1;
	}
	button {
	    padding: 5px 10px; 
		color: #fff;
		font-size: 14px;

	}
}

/* 关于我 */
.about #banner{
	height: 400px;
}
.about #banner .inner{
	top: 140px;
}
.about .content{
	background: rgba(0, 0, 0, 0.11);
}


.about .author-info{
	text-align: center;
	overflow: hidden;
	padding-top: 30px;
}
.author-img{
	width: 200px;
	height: 200px;
	margin: 0 auto;

}
.author-img img{
	display: block;
	width: 100%;
	border-radius: 50%;
}
article.author-text{
	max-width: 800px;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 600;
    font-family: "微软雅黑";
}

@media screen and (max-width: 768px)  {
	.author-img{
		width: 150px;
		height: 150px;
		margin: 0 auto;

	}



}





@media screen and (max-width: 480px){

	article.author-text{
		font-weight: normal;
		font-size: 15px;
	}



}


